# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
ENV/
env/
.env/
.env

# Large Folders / Datasets / Weights
datasets/
models/
test_images/
brain-tumor-2d-dataset/

# IDE & Tooling
.gradio/
.vscode/
.idea/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db